.container-summoner{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    .wrapper-summoner{
        margin: 20px;
        font-size: 18px;
        &.red{
            color: #ff4040;
        }
        &.blue{
            color: #4798fb;
        }
    }
}
