*{
    outline: none !important;
}
.container-summoner{
    display: flex;
    flex-wrap: wrap;
    // width: 90%;
    margin: auto;
    .wrapper-summoner{
        margin: 20px;
        font-size: 18px;
        &.red{
            color: #ff4040;
        }
        &.blue{
            color: #4798fb;
        }
        .bottes{
            cursor: pointer;
            outline: none;
            border: none;
            appearance: none;
            background-color: transparent;
        }

        .wrapper-spell{
            display: flex;
            gap: 15px;
            .one-spell{
                position: relative;
                cursor: pointer;
                img{
                    filter: brightness(0.5);
                }
                .timer{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                }
            }
        }
    }
}
